.tools-item {
    user-select: none;
    text-transform: capitalize;
    margin: 0 3em 0 3em;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.3em;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}

.tools-item-highlighted, .tools-item:hover {
    text-decoration: underline;
}

.tools-icon--picture {
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: cover;
}

.tools-icon--color {
    width: 1em;
    height: 1em;
    border: 1px solid black;
    border-radius: 50%;
}