.frames-wrapper {
}

.frames-menu {
    
}

.frames-items {
    height: 12em;
    width: 32em;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
}

.frame-wrapper, .frame {
    z-index: 0;
    width: 8em;
    height: 8em;
    background-color: black;
    cursor: pointer;
}

.frame-wrapper {
    background-color: rgb(116, 116, 240);
    margin-right: 1em;
}

.frame {
    z-index: 100;
    border: 2px dotted gray;
}

.highlited {
    border: 2px dotted gray;
}

.dragging {
    position: absolute;
    border: 1px solid black;
    z-index: 1000;
}

.enter-droppable {
    opacity: .5;
}