.frames-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    grid-gap: 1em;
}

.frame-wrapper, .frame {
    width: 8em;
    height: 8em;
    background-color: gray;
    cursor: pointer;
}

.frame-wrapper {
    background-color: rgb(116, 116, 240);
}

.dragging {
    position: absolute;
    border: 1px solid black;
    z-index: 1000;
}

.enter-droppable {
    opacity: .5;
}