.frames-wrapper {
}

.frames-menu {
    
}

.frames-items {
    height: 20em;
    overflow-y: scroll;
    margin-top: 1em;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 1em;
}

.frame-wrapper, .frame {
    z-index: 0;
    width: 8em;
    height: 8em;
    background-color: black;
    cursor: pointer;
}

.frame-action {
    width: 8em;
    height: 8em;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 1px 3px;
}

.frame-wrapper {
    background-color: rgb(116, 116, 240);
}

.frame-action, .frame {
    z-index: 100;
}

.highlited {
    border: 2px dotted gray;
}

.dragging {
    position: absolute;
    border: 1px solid black;
    z-index: 1000;
}

.enter-droppable {
    opacity: .5;
}