.tools-list {
    list-style: none;
}

.tools-list-wrapper {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    width: 70%;
    margin-bottom: 10%;
    padding: 1em;
}

.color-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0.1em;
    align-items: center;
    justify-content: space-around;
}

.color-picker {
    width: 10em;
    height: 10em;
    border: 0.1em solid black;
}
