.canvas {
    padding: 0px;
    margin: 0px;
    width: 512px;
    height: 512px;
    background-color: black;
}

.canvas-header {
    text-align: center;
    text-transform: capitalize;
}

.canvas-section {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}