.standart-button {
    background-color: white;
    font-weight: bold; 
    border-radius: 0.5em;
    border-color: black;
    height: 2.8em;
    cursor: pointer;
    padding: 0.3em;
    width: 10em;
}